apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "app.fullname" . }}-cleanup-script
  labels:
    {{- include "app.labels" . | nindent 4 }}
data:
  cleanup.sh: |
    #!/bin/sh
    set -e

    if app-types cleanup --help >/dev/null 2>&1; then
      echo "Running cleanup command..."
      app-types cleanup \
        "{{ .Values.cleanupArgs.app_type }}" \
        "{{ .Values.cleanupArgs.app_id }}" \
        --output-type "{{ .Values.cleanupArgs.output_type_name }}" \
        --package-name "{{ .Values.cleanupArgs.package_name }}"
    else
      echo "'app-types cleanup' command does not exist, skipping cleanup"
    fi
