apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "app.fullname" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/hook: PostSync
    argocd.argoproj.io/sync-wave: "1"
spec:
  template:
    metadata:
      labels:
        {{- include "app.labels" . | nindent 8 }}
    spec:
      restartPolicy: Never
      serviceAccountName: {{ .Release.Name }}-sa
      containers:
      - name: post-upgrade-hook
        image: ghcr.io/neuro-inc/post-install-hook-kostia:latest
        args:
        - "update-outputs"
        - {{ include "filterNonEmptyAndConvertToJson" .Values | squote }}
