apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "app.fullname" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/hook: PostSync
    argocd.argoproj.io/sync-wave: "1"
spec:
  template:
    metadata:
      labels:
        {{- include "app.labels" . | nindent 8 }}
        job-name: {{ include "app.fullname" . }}
        apolo.us/platform-hook: "true"
    spec:
      restartPolicy: Never
      serviceAccountName: {{ .Release.Name }}-sa
      containers:
      - name: post-upgrade-hook
        image: {{ .Values.appTypesImage.repository }}:{{ .Values.appTypesImage.tag }}
        args:
        - "update-outputs"
        - {{ include "filterNonEmptyAndConvertToJson" .Values | quote }}
        imagePullPolicy: {{ .Values.appTypesImage.pullPolicy }}
        env:
        - name: K8S_INSTANCE_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['app.kubernetes.io/instance']
        {{- if .Values.postProcessorEnvs }}
        {{- toYaml .Values.postProcessorEnvs | nindent 8 }}
        {{- end }}
