on:
  push:
    branches: [master]
    tags: ["v*"]
  pull_request:
    branches: [master]
  workflow_call: {}

jobs:
  lint:
    name: Linter
    runs-on: ubuntu-latest
    # 5 mins for the linter run, possibly 10 min for pre-commit env reinitialization
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup Python
        uses: ./.github/actions/setup-python-poetry
      - name: Cache pre-commit hooks
        uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|py3.12|${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Install dependencies
        run: make setup
      - name: Run linters
        run: |
          make lint
        env:
          CI_LINT_RUN: 1

  test-unit:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout commit
        uses: actions/checkout@v6
      - name: Setup Python
        uses: ./.github/actions/setup-python-poetry
      - name: Install dependencies
        run: make setup
      - name: Run unit tests
        run: make test-unit
